body{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
:root{
    font-size: 18px;
    font-family:'Josefin Sans',sans-serif;
    /*light theme*/
    -gray_light:hsl(0,0%,98%);
    -grayish_blue:hsl(236,33%,92%);
    -grayish-blue-light:hsl(233,11%,84%);
    -grayish-blue-dark:hsl(236,9%,61%);
    -dark-blue:hsl(235,19%,35%);
    /*dark theme*/
    -blue-dark:hsl(235, 21%, 11%);
    -dark-desaturated-blue: hsl(235, 24%, 19%);
    -light-grayish-blue: hsl(234, 39%, 85%);
    -light-grayish-hover: hsl(236, 33%, 92%);
    -dark-grayish-blue: hsl(234, 11%, 52%);
    -very-dark-grayish: hsl(233, 14%, 35%);
    -very-dark-blue: hsl(237, 14%, 26%)
}
/*main container(contenedor principal)*/
.main-container{
  position: relative;
}
/*header(encabezado)*/
header{
    width: 100%;
    height:300px;
    background:url(./images/bg-desktop-light.jpg);
    background-repeat:no-repeat;
    background-size:100% 100%;
}
.moon-icon{
    width: 20px;
    height: 20px;
    display: flex;
    flex-direction: row;
}
h1{
    padding: 8px;
    color: white;
    display: flex;
    justify-content: space-between;
}
/*Contenedor */
.container{
    width: 530px;
    height: 440px;
    position: relative;
    top:-271px;
    left: 450px;
}
.create-activity{
    display: flex;
    justify-content:flex-end;
}
.create-activity input{
    height: 60px;
    font-size: 16px;
    text-align: left;
    padding: 4px 0 0 50px;
    color: rgb(192,192,192);
}
.create{
    width: 100%;
    height: 35px;
    margin: 3px;
    border-radius: 5px;
    border:none;
    outline: none;
}
.container-option{    
    display: flex;
    justify-content:space-around;
    flex-wrap: wrap;
    position: relative;
    font-size: 15px;
    padding: 4px 0 4px 0;
    text-align: right;
    top: 30px;
    width: 527px;
    height: 450px;
    margin: 12px 0 0 0 ;
    border-radius: 5px ;
    box-shadow: 0 0 4px rgb(153, 151, 151);
    background-color: rgb(255, 255, 255);
}
.option{
    border:1px solid black;
}
.list-option{
    display: flex;
    flex-direction: column; 
}
.footer-list{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    position: relative;
    bottom: -50px;
}




